.NavBarWrapper{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}

.NavBar{
    width: 70%;
    top: 0;
    z-index: 100000;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
}
