@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital@0;1&display=swap');

.navBarButton{
    width: 100%;
    font-family: 'Raleway';
    font-size: 170%;
    font-weight: 700;
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;
    background-color: transparent;
    border: none;
    transition: 0.2s ease-in-out;
}
.navBarButton:hover{
    color: #002c59;
    transition: 0.2s ease-in-out;
}